.home {
  position: relative;
  top: 80px;
  left: 0;
  min-height: 800px;
  background: url("../../assets/intro-bg.jpg") center no-repeat;
  background-size: cover;
}
.home-flter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 830px;
  width: 100%;
  background: rgba(00,00,00,0.3);
  h1{
    max-width: 660px;
    color: white;
    font-size: 5em;
  }
  p{
    max-width: 660px;
    font-size: 1.2em;
    color: #fff;
  }
}
.home__content{
  text-align: center;
}
