.Features {
  position: relative;
  bottom: -80px;
  padding: 100px 0px;
  background: #F6F6F6;
}
.Features__title{
  text-align: center;
  h2{
    text-transform: uppercase;
    position: relative;
    display: inline;
    padding-bottom: 10px;
    font-size: 36px;
    &:after{
      content: '';
      width: 40%;
      height: 5px;
      height: 4px;
      left: 30%;
      position: absolute;
      bottom: 0px;

      background-color: #5ca9fb;
      background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    }
  }
}
.Features-grid{
  margin-top: 50px;
  position: relative;
  bottom: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}